@import '../../../utils/breakpoints/breakpoints.scss';
@import '../../../utils/scss/variables';


.alert {
  z-index: 11;
  margin-top: 1rem;
  left: 2rem;
  width: 23rem;
  height: 2rem;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 5px;
  padding-right: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: alert .8s;

  @include media ('>=smallPhone', '<tablet') {
    width: 15rem;
    left:1rem;
  }

  .closeIcon {
    position: absolute;
    display: flex;
    right: 4px;
    top: 2px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 2px;
    cursor: pointer;
  }
}

.alertError {
  color: rgb(234, 43, 43);
  border: 1px solid rgba(234, 43, 43, 0.4);
  background-color: rgba(#ffc1c1, 0.7);

  .closeIcon {
    color: rgba(234, 43, 43, 0.8);
  }
}

.alertSuccess {
  color: #fff;
  border: #75cfb8;
  background-color: rgba(#bbdfc8, 0.7);
  .closeIcon {
    color: rgba(#fff, 0.8);
  }
}


@keyframes alert {
  0% {left: -30rem;}
  100% {
    left: 2rem;
    @include media ('>=smallPhone', '<phonePlus') {
      left:1rem; 
    }
  }
}